PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/electropoint
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
COOKIE_SECRET=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
ADMIN_EMAIL=ivan.p@example.net
ADMIN_PASSWORD=
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET=8gBm/:&EnhH.1/q
ESEWA_ENV=uat
KHALTI_SECRET_KEY=
KHALTI_ENV=sandbox
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
UPLOAD_DIR=uploads
